

.hero {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fundo {
    background-image: url("../imagem/ceu.jpg");
       object-fit: contain;
    
}

.hero2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
}